<table class="table table-hover table-striped pt-2">
  <thead>
    <tr class="table-active">
      <th scope="col">ID</th>
      <th scope="col">Nombre</th>
      <th scope="col">Username</th>
      <th scope="col">Email</th>
      <th scope="col">Telefono</th>
      <th scope="col">Website</th>
      <th scope="col">...</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of usuarios">
      <th scope="row"><span class="badge badge-warning badge-pill">{{user.id}}</span></th>
      <td>{{user.name}}</td>
      <td>{{user.username}}</td>
      <td>{{user.email}}</td>
      <td>{{user.phone}}</td>
      <td>{{user.website}}</td>
      <td>
        <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#usuario" (click)="ObtenerAlumno(user)">
          <i class="fas fa-user"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>

<!-- MODAL PARA VISUALIZAR UN USUARIO-->
<div class="modal" tabindex="-1" id="usuario">
  <div class="modal-dialog">
  <div class="modal-content">
      <div class="modal-header">
      <h4 class="modal-title">Usuario: {{persona.id}}</h4>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
      </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-row">
            <div class="form-group col-md-6">
              <input type="text" [(ngModel)]="persona.name" class="form-control" name="name" disabled>
            </div>
            <div class="form-group col-md-6">
              <input type="text" [(ngModel)]="persona.username" class="form-control" name="username" disabled>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <input type="text" [(ngModel)]="persona.email" class="form-control" name="email" disabled>
            </div>
            <div class="form-group col-md-6">
              <input type="text" [(ngModel)]="persona.phone" class="form-control" name="phone" disabled>
            </div>
          </div>
          <div class="form-group">
            <input type="text" [(ngModel)]="persona.website" class="form-control" name="website" disabled >
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
      <button type="button" class="btn btn-info" data-dismiss="modal" >Guardar</button>
      </div>
  </div>
  </div>
</div>
